body {
    background-image:url("https://cloud.githubusercontent.com/assets/17159697/12947027/e2d61f5e-cff8-11e5-95c9-575b3865a988.png");
	color:black;
}

h1{
	text-align: center;
}

h2 {
	text-align: center;
}
#formwrap {
	position: absolute;
	width: 100%;
	top: 30%;
	margin-top: -50px;
	text-align: center;
}

#form {
	margin: auto;
	width: 200px;
	height: 100px;
}

#submit {
	margin: 5px;
}

#rood {
	color: red;
	text-align: center;
	background: white;
	margin: 2px;
	z-index: 1;
	position: relative;
	left: 0%;
	right: 0%;
}

#groen {
	color: green;
	background: white;
	margin: 0px;
	text-align: center;
	z-index: 1;
	position: relative;
	left: 0%;
	right: 0px;
}

#container {
	margin: auto;
	position: absolute;
	left: 0%; 
	right: 0%;
	width: 1000px;
	height: 100%;
	background-color: black;
	color: white;
	z-index: -1;
}

#topcontainer {
	margin: auto;
	margin-top:-1%;
	width: 1000px;
	height: 100px;
	display: inline-block;
	left: 0%;
	right: 0%;
	background-color: blue;
	position: absolute;
	color: white;
	z-index: 0;
}

#dropdown {
	margin: auto;
	display: block;
	width: 10px;
	height: 10px;
}
