body {
    background-image:url("https://cloud.githubusercontent.com/assets/17159697/12947343/e35996f2-cffa-11e5-9353-14b782c81c33.png");
	color:black;

}

h1{
	text-align: center;
}

h2 {
	text-align: center;
}
#formwrap {
	position: absolute;
	width: 100%;
	top: 30%;
	margin-top: -50px;
	text-align: center;
}

#form {
	margin: auto;
	width: 200px;
	height: 100px;
}

#submit {
	margin: 5px;
}


#container {
	margin: auto;
	position: absolute;
	left: 0%; 
	right: 0%;
	width: 850px;
	height: 110%;
	background-color: black;
	color: white;
	vertical-align:top;
}
